<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="container header-content">
            <nav class="main-nav">
                {% include navigation.html %}
            </nav>
            <div class="social-top-menu">
              {% include social.html %}
            </div>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

<footer>
    <div class="container">
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.author.name | default: site.title }}</p>
    </div>
</footer>

</body>
</html>
